.slider-presentation {
	display: flex;
	height: 535px;
	width: 100%;
	&__column {
		flex: 0 1 60%;
		&:last-child {
			flex: 0 1 40%;
			margin-left: 15px;
		}
		overflow: hidden;
	}
	&__block-posters {
		height: 100%;
		display: flex;
		position: relative;
	}
	&__slide {
		flex: 0 0 100%;
		position: relative;
		margin-right: 15px;
		border-radius: 16px;
		box-shadow: 0px 0px 6px 0px #000;
		overflow: hidden;
	}
	&__poster-img {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 10;
	}
	&__title-game {
		position: absolute;
		top: 40px;
		left: 0px;
		width: 100%;
		z-index: 14;
		text-align: center;
		span {
			color: aliceblue;
			font-size: 35px;
			background: #1b2533b4;
			border-radius: 16px;
			padding: 7px 20px;
			box-shadow: 0px 0px 6px 0px #000;
		}
	}
	&__dots-controller {
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 30;
		background-color: $backdrop;
		padding: 10px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 21px;
		box-shadow: 0px 0px 6px 0px #000;
		transform: translateX(-50%);
		span {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #8b96a3;
			margin-right: 15px;
			cursor: pointer;
			box-shadow: 0px 0px 6px 0px #000;
			&:last-child {
				margin-right: 0px;
			}
			&.active {
				background-color: $redColor;
			}
		}
	}
}

.gallery-slider-presentation {
	display: flex;
	flex-direction: column;
	&__block-columns {
		flex: 0 1 100%;
		display: flex;
		width: 100%;
		height: 100%;
	}
	&__column {
		overflow: hidden;
		flex: 0 1 50%;
		&:first-child {
			display: flex;
			flex-direction: column;
			margin-right: 15px;
		}
	}
	&__image-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 16px;
		box-shadow: 0px 0px 6px 0px #000;
		&_first {
			margin-bottom: 15px;
		}
	}
	&__image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 20;
	}
	&__phrase {
		margin-bottom: 15px;
		color: aliceblue;
		font-size: 28px;
		text-align: center;
	}
}