// БАЗОВЫЙ ШРИФТ НА ВСЕМ САЙТЕ ============================================================================================
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap&subset=cyrillic-ext");
// ========================================================================================================================

// ДЕФОЛТНЫЙ ШРИФТ ВСЕГО ПРОЕКТА, тот который преобладает =================================================================
$fontFamily: "Oswald", sans-serif;
//=========================================================================================================================

// ЦВЕТОВАЯ ПАЛИТРА =======================================================================================================
$redColor: #d21011;
$darkRedColor: #580f0f;
$liteRedColor: #fa1831;
$darkColor: #171a21;
$gray: rgb(177, 177, 177);
$darkBlue: #171d25;
$backdrop: #1b2533;
//=========================================================================================================================

// ОБНУЛЯЮЩИЕ СТИЛИ =======================================================================================================
@import "ziro";
//=========================================================================================================================

// ОСНОВНОЙ КОНТЕЙНЕР =====================================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	position: relative;
	&__content {
		flex: 1 1 auto;
	}
	&.hidden {
		overflow: hidden;
	}
}

.block-content {
	background: $backdrop;
	&__home {
		padding: 30px 0px;
	}
}
// PAGES ==================================================================================================================
.home-block {
	&__presentation-slider, &__images-block-gallery {
		margin-bottom: 60px;
	}
}

// ОБЩАЯ НАСТРАИВАЕМАЯ СТИЛИСТИКА ==========================================================================================
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #1f2937;
	border-radius: 100vh !important;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, $liteRedColor 0%, $redColor 53.01%, $darkRedColor 99.83%);
}

._container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Imports ФАЙЛОВ ДРУГИХ СУЩНОСТЕЙ ==============================================================================
@import "spinner";
@import "header";
@import "navbar";
@import "footer";
@import "list-social-network";
@import "join-social-network";
@import "slider-presentation";
@import "images-block-gallery";
@import "message-lite";
@import "video-block";
